body{
  background-color: black;

}
.container{
  margin-left: 2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
.comments-section{
  display:flex;
  flex-direction: row;
}
.form__title,.chat__title{
  color: rgb(93, 93, 216);
  font-weight: 500;
  font-size: 1.5rem;
}
.form-comment,.comments-display{
  display:flex;
  flex-direction: column;
}
.comments-section__form{
  width: 50%;
  margin-right: 5%;
}
.comment__textarea{
  height: 1.6rem;
  background-color: black;
  border: 1px rgb(93, 93, 216);
  border-style: dashed;
  outline:none;
  color: white;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
.comment__textarea{
  height: 8rem;
}
.form__submit-button{
  background-color: rgb(93, 93, 216);
  border-radius: 10%;
  border: 3px solid white;
  font-size: 1rem;
  color: white;
}
.comments-display{
  display:flex;
  flex-direction: column;
  width: 40rem;
}

.display-comment{
  margin-top: 1rem;
  margin-bottom: 2rem;
}


.comment{
  font-style: italic;
  font-weight: 700;
}
.comment_new{
  font-style: italic;
  font-weight: 700;
  color:rgb(206, 248, 19);}
